.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 80px;
    background-color: #FFEFD5;
    
}

img{
    width: 130px;
    height: 120px;
}

.rightSide a {
    margin-right: 25px;
    color: white;
    font-size: 20px;
    background-color: black;
    padding: 5px 10px;
    border-radius: 4px;
    position: relative;
    font-weight: 1000;
    text-decoration: none;
    
}

.home{
    width: 100%;
    height: 130vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-position: center;
    background-size: cover;
    background-repeat: none;
}

.headerContainer{
    width: auto;
    margin-left: 40px;
    margin-top: 180px;
}

.headerContainer h1{
    font-size: 40px;
    height: 40px;
    color: #FFFACD
}
.headerContainer p{
    font-size: 20px;
    font-style: italic;
    margin-top: 30px;
    color: #fF6347;

}
.headerContainer button{
    border: none;
    border-radius: 5px;
    width: 100px;
    height: 40px;
    margin-left: 80px;
    background-color: rgb(14, 14, 59);
    color: #e0ffff;
    font-size: large;
    position: relative;
    text-decoration: none;

}

.footer{
    background-color:#FFEFD5;
}
.footer p{
    float: left;
    margin-right: 3px;
}

.footer{
    height: 150px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.footer img{
    transform: scale(0.5);
    margin-bottom: 10px;
}

.menu{
    width:  100%;
    height: 500px;
    text-align: center;
    background-color: #916929;
    margin-top: -30px;
    
}
.MenuTitle{
    font-size: 40px;
    font-style: italic;
    padding-top: 25px;
}
.MenuList{
display: flex;
align-items: center;
justify-content: center;
flex-wrap: wrap;
margin-top: 5px;
}

.menuItem{
    width: 350px;
    height: 350px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    background-color: #FFEFD5;
}

.menuItem img{
    height: 170px;
    width: 250px;
    border-radius: 10px;
    margin-top: 25px;
}
.menuItem h3{
    font-size: 25px;
    margin-top: 10px;

}
.menuItem p{
    font-size: 25px;
    font-weight: bold;
    
    
}

.about{
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    background-color: #916929;
}
.aboutTop{
    
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    height: 500px;
    width: 100%;
}
.aboutBottom{

    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.aboutBottom p{
    width: 500px;
    margin-bottom: 25px;
}
.about .aboutBottom h1{
    font-weight: 400;
    font-size: 50px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 30px;

}
